:root {
  --app-bg: #222222;
  --color-white: #ffffff;
  --color-accent: #ffd740;

  --list-bg: rgba(110, 110, 110, 0.25);
  --top-row-bg: rgba(255, 255, 255, 0.6);
  --geo-bg: rgba(255, 255, 255, 0.3);
}
